################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TC.Injector/bin
/src/TC.Injector/obj
/src/TC.Injector.Tests2/bin
/src/TC.Injector.Tests2/obj
/src/.vs/TC.Injector/v14
/src/.vs/TC.Injector/v15
/src/.vs/
